<footer class="text-center font-bold pb-10">
  <section id="app" class="relative pt-20 mb-1 border-b-2 border-black">
    <img src="/app-bg.webp" alt="" class="bg-img" />
    <div
      class="relative items-center bs-container max-w-5xl lg:grid-cols-2 grid lg:gap-12 gap-6"
    >
      <img src="/sp-appimg.webp" alt="" class="lg:col-span-1 mx-auto" />
      <div class="bg-black space-y-5 lg:p-11 p-5 lg:col-span-1">
        <h3 class="text-center text-white lg:text-2xl text-lg font-bold">
          スマホ公式アプリのご案内
        </h3>
        <div class="grid gap-2 grid-cols-2">
          <a
            href="https://play.google.com/store/apps/details?id=jp.co.cynd.BeautyMerit.Aubesalon&hl=am"
            target="_blank"><img src="/android.webp" alt="" /></a
          >
          <a
            href="https://apps.apple.com/us/app/enore-%E3%82%A8%E3%83%8E%E3%82%A2/id1373260269"
            target="_blank"><img src="/itune.webp" alt="" /></a
          >
        </div>
      </div>
    </div>
  </section>
  <section id="nav" class="border-t border-black pt-5 text-tiny text-nc-1">
    <div class="flex items-center justify-center gap-2">
      <span>|</span>
      <a class="hover:underline" href="/aoyama/">トップ</a>
      <span>|</span>
      <a class="hover:underline" href="http://www.au-be.jp/collection/">コレクション</a>
      <span>|</span>
      <a class="hover:underline" href="http://www.au-be.jp/au-beconcept/">コンセプト</a>
      <span>|</span>
      <a class="hover:underline" href="/aoyama/special/straightperm.html">テクニック</a>
      <span>|</span>
      <a class="hover:underline" href="http://www.au-be.jp/catalog/">ヘアカタログ</a>
      <span>|</span>
      <a
        href="https://b-merit.jp/web/login/?shop_code=c4PJaR"
        target="_blank">クーポン</a
      >
      <span>|</span>
      <a class="hover:underline" href="http://www.au-be.jp/au-bepress/">プレス</a>
      <span>|</span>
      <a class="hover:underline" href="http://www.au-be.jp/studioworks/">スタジオワークス</a>
      <span>|</span>
      <a class="hover:underline" href="http://www.au-be.jp/au-begallery/">ギャラリー</a>
      <span>|</span>
      <a class="hover:underline" href="http://www.au-be.jp/au-bemovie/">ムービー</a>
      <span>|</span>
      <a
        href="https://869502.b-merit.jp/c4PJaR/web/reserve1/?from_coupon=1"
        target="_blank">メニュー</a
      >
      <span>|</span>
      <a class="hover:underline" href="/aoyama/staff/">スタッフ</a>
      <span>|</span>
      <a class="hover:underline" href="/aoyama/blog/">ブログ</a>
      <span>|</span>
    </div>
    <div class="flex items-center justify-center gap-2">
      <span>|</span>
      <a class="hover:underline" href="/aoyama/recruit/">求人情報</a>
      <span>|</span>
      <a class="hover:underline" href="/aoyama/contact/">お問い合わせ</a>
      <span>|</span>
      <a class="hover:underline" href="/special/enorecompany.html">会社概要</a>
      <span>|</span>
      <a class="hover:underline" href="/aoyama/abaccess/">アクセス</a>
      <span>|</span>
      <a class="hover:underline" href="/omotesando/">表参道店はこちら</a>
      <span>|</span>
      <a class="hover:underline" href="/aoyama/">青山店はこちら</a>
      <span>|</span>
      <a class="hover:underline" href="/kashiwa/">柏店はこちら</a>
      <span>|</span>
      <a class="hover:underline" href="/ginza/">銀座店はこちら</a>
      <span>|</span><br />
    </div>
  </section>
  <section id="shopfooterinfo" class="text-tiny text-nc-1">
    <ul class="flex items-center justify-center gap-1">
      <li itemprop="name">ENORE</li>
      <li
        itemprop="address"
        itemscope=""
        itemtype="https://schema.org/PostalAddress"
      >
        〒&nbsp;<span itemprop="postalCode">150-0001</span>
        <span itemprop="addressRegion">東京都</span><span
          itemprop="addressLocality">渋谷区</span
        ><span itemprop="streetAddress">神宮前3-11-7</span>
      </li>
      <li>tel. 0364470904</li>
    </ul>
    <p class="text-center">Copyright© 2013 ENORE 青山店 All rights reserved.</p>
  </section>
</footer>
